{%extends 'base.html'%}

{% block content%}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us </h1>
            <p class="lead fw-normal text-white-50 mb-0"> Welcome to our shop</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br>
                <p align="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra consectetur vestibulum. Donec diam odio, finibus sed luctus id, dictum vel odio. Nam ut efficitur sapien. Fusce efficitur arcu non sem pretium, et suscipit arcu maximus. In augue dolor, tincidunt ut feugiat eget, vulputate id erat. Suspendisse pulvinar nulla eget elit tincidunt, ac efficitur augue dignissim. Praesent blandit ornare consequat. Etiam rutrum tortor a diam vehicula ultrices. Ut porta sed ligula eget gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Praesent tristique dapibus augue, vitae elementum libero pellentesque vel. Morbi vehicula iaculis justo vel imperdiet. Vivamus euismod id tortor a tempus. Curabitur id lectus lectus. Duis iaculis accumsan enim et ullamcorper.
<br>
Sed semper pretium lorem, id consequat est facilisis id. Integer ac interdum libero. In congue tempor sapien non sagittis. Morbi laoreet lorem quam, at eleifend lorem eleifend quis. Curabitur pretium faucibus ligula eget viverra. Nam viverra eros et neque laoreet commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur porttitor semper tincidunt. Mauris at fermentum lectus, et ullamcorper urna. Aliquam vehicula sollicitudin pretium. Pellentesque lorem leo, sollicitudin suscipit pretium a, pulvinar ac tortor. Donec faucibus ligula in nunc tempor molestie. Maecenas non ullamcorper nisl, quis vehicula leo. Quisque interdum lacus ultrices, pharetra dui pellentesque, pretium erat. Sed enim mauris, tincidunt quis mattis vitae, porttitor quis nisi.
                </P>
                <br>           
</div>
        </center>
    </div>
            

</div>
{% endblock %}